.root{
    --color-primary:#25d4ff;
    --color-secondary:#00d9ff;
    --color-accent:#ff3400;
    --color-headings:#1b0760;
    --color-body:#918ca4;
    --color-body-darker:#5c5577;
    --color-border:#ccc;
    --color-radios:30px;
}
/*typ0graphy*/
html{
    /* 62.5% of 16px = 10px*/
    font-size: 62.5%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4 rem;
    line-height: 1.5;
    color: var(--color-body);
}
h1,h2,h3{
    color: var(--color-headings);
}
h1{
    /* 1 * font size of the html element */
    font-size: 7 rem;
}
h2{
    font-size: 4 rem;
}
h3{
    font-size: 3 rem;
    margin-bottom: 2 rem;
}
p{
    margin-top: 0;
}
@media screen and (min-width: 1024px){
    .link-arrow {
        font-size: 1.5rem;

    }
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.5rem;
    }
    
}
/* Links */ 
a {
    text-decoration: none;
}
.link-arrow{
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2 rem;
    font-weight: bold;
}
.link-arrow::after {
    content: '-->';
    margin-left:  5px;
    transition: margin 0.15s;
}
.link-arrow:hover::after {
    margin-left: 10px;
}
@media screen and (min-width: 1024px) {
    .link-arrow{
        font-size: 1.5rem;
    }
    
}
/* buttons */
.btn {
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 2rem 3rem;
    text-transform: uppercase;
    white-space: nowrap;
    
}
.btn--primary {
    background: var(--color-primary);
    color: #fff;
}
.btn--secondary{
    background: var(--color-secondary);
    color: #fff;

}
.btn--accent{
    background: var(--color-accent);
    color: #fff;

}
/* inputs*/
.input{
    padding:1.5rem 3.5rem ;
    border: 1px solid var(--color-border);
     border-radius: 30px;
    outline: 0;
    color: var(--color-headings);
}
::placeholder{
    color: #cdcbd7;
    font-size: 2rem;
}
.input-group{
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    display: flex;

}
.input-group .input{
    border: 0;
    flex-grow: 1;
}
@media screen and (min-width: 1024px) {
    .input{
        font-size: 1.5rem;
    }
    
}
/* cards */
.card{
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    overflow: hidden;
}
.card__header,
.card__body {
    padding: 2rem 3rem;
}
.card--primary .card__header{
    background: var(--color-primary);
    color: #fff;
}
/*plans*/
.plan__name{
    color: #fff;
    margin: 0;
    font-weight: 500;
    font-size: 2.4rem;

}
.plan__price{
    font-size: 6rem;
}
.plan__billing-cycle{
    font-size: 2.4rem;
    font-weight: 300;
    opacity: 0.8;
    margin-right: 1rem;
}
.plan__description{
    font-size: 2rem;
    font-weight: 300;
}
.plan--popular .card__header::before{
    content: url(..images/image.svg);
}
/* Media */
.media{
    display: flex;
}
.madia__title{
    margin-top: 0;
}
.media__body{
    margin: 0 2rem;
}
.media__image{
     margin-top: 2rem ;
}
/* quote */
.quote{
    font-size: 3rem;
    font-style: italic;
    color: var(--color-body-darker);
    line-height: 1.3;

}
.quote__text::before{
    content: open-quote;
}
.quote__text::after{
    content: close-quote;
}
/* grid */
.grid{
    display: grid;
}
@media screen and (min-width: 768px) {
    .grid--{
        grid-template-columns: repet(2, 1fr);

    }
    
}
/* testimonials*/
.testimonials{
    padding: 3rem;
}
.yestimonials_image{
    width: 100%;
}
.testimonials__image > img{
    width: 100px;
}
/* callouts*/
.callouts{
    padding: 4rem;
    border-radius: 5px;
}
.callouts--primary{
    background: var(--color-primary);
    color: #fff;
}
.btn--streched{
    padding-left: 6rem;
    padding-right: 6rem;
}
.btn--block{
  width: 100%;
  display:inline-block;
}
.callouts.btn{
    justify-self: center;
    align-self: center;
}
.callouts__content{
    text-align: center;
}
/* collapsible */
.collapsible__header{
    display: flex;
    justify-content: space-between;
}
.collapsible__heading{
    margin-top: 0;
    font-size: 3rem;
}
.collapsible__chevron{
    transform: rotate(-90deg);
}
.collapsible__content{
    display: none;
}
/* Blocks */
.blocks{
    padding: 6rem 2rem;
    border: 2px solid red;
}
.block__headings{
    margin-top: 0;
}
.block__dark{
    background: #000;
    color: #7b857b;
}